<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- jsTree CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='firebase.css') }}" />
</head>
<body>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
    <p class="alert alert-{{ category }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
  {% endwith %}

<div class="col md-5">
        <div class="row">
            <div class="tree-view-container-item col-4 first_div">
                <div id="tree-view-from-json">
                    <script type="text/javascript" src="{{ url_for('static', filename='tree.js') }}"></script>
                    <script type="text/javascript">
                      treefunc({{t|tojson}})
                    </script>
                </div>
              </div>
            
            <div class="col-7 second_div">
              <div class="alert alert-info">
                Instructions: <br>
                mkdir: Enter the command and the path<br>
                ls: Enter the command and the path<br>
                put: Enter the command, path, file_name (files/cars.csv,files/trial.csv), and the partition number<br>
                cat: Enter the command and the path<br>
                rm: Enter the command and the path<br>
                read Partition: Enter the command,path, and the partition number<br>
                get Partition Loc: Enter the command and the path<br>
              </div>

              <form action="{{ url_for('sql')}}" method="post" class="form-horizontal" >
                <div class="row mt-3">
                  <div class="col-md-4">
                    <label>Select a command from below</label>
                    <select id="comm" name="comm" class="form-control ">
                        <option value="mkdir">mkdir</option>
                        <option value="ls">ls</option>
                        <option value="put">put</option>
                        <option value="rm">rm</option>
                        <option value="cat">cat</option>
                        <option value="get Partition Loc">get Partition Location</option>
                        <option value="read Partition">read Partition</option>
                      </select>
                  </div>
                  <div class="col-md-7">
                    <label>Path</label>
                    <input type="text" class="form-control" id="path" name="path" placeholder="Enter a Path">
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-6">
                    <label>File Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter a File Name">
                  </div>
                  <div class="col-md-4">
                    <label>Number of Partition/Partition Number</label>
                    <input type="text" class="form-control" id="part" name="part" placeholder="Enter partition number">
                  </div>

                </div>
                <div>
                  <button class="btn btn-outline-dark btn-md mt-3" type="submit">Submit</button>
                </div>

            </form>

            </div>
      </div>   
      <div class="row third_div ">
        {% if csv %}
        <table id="demo">
        </tbody>
          {% for table in op %}                           
          {{ table|safe }}
          {% endfor %}
        {% else %}
          {% for i in op[0]: %}
            {{i}}
            <br>    
          {% endfor %}
        {% endif %}
      </div>
</div> 
</body>
<script>
     $('.dataframe').addClass('table table-bordered');
</script>
</html>